@using Microsoft.AspNetCore.Identity
@model X.PagedList.IPagedList<ERP.Areas.Identity.Data.User>
@inject UserManager<ERP.Areas.Identity.Data.User> UserManager
@{
    ViewData["Title"] = "UserList";
}

@{
    var searchTerm = ViewContext.HttpContext.Request.Query["searchTerm"];
}

<div class="container px-1" style="position:initial;">
    <div class="card">
        <div class="card-header">
            <div class="">
                <h5>Users List</h5>
                <span class="d-block m-t-5">The following is a list of InActive users.</span>
            </div>
            <form asp-action="Index">
                <div class="d-flex justify-content-end">
                    @*<div class="mr-3">Flex item 1</div>
                    <div class="mr-3">Flex item 2</div>*@
                    <div class="input-group mb-3 w-25">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="feather icon-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search.." name="searchTerm" id="Search" />
                    </div>
                    @if (string.IsNullOrEmpty(searchTerm))
                    {
                        <a href="@Url.Action("Index")" class="btn btn-light">Clear</a>
                    }
                </div>
            </form>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                User Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td><h6 class="m-0"> @user.Email</h6></td>
                            <td>
                                @if (user.is_active == true)
                                {
                                    <i class="fas fa-circle text-c-blue f-10 fa-fw"></i>
                                    <span class="ml-2 text-c-blue">Active</span>
                                }
                                else
                                {
                                    <i class="fas fa-circle text-c-purple f-10 fa-fw"></i>
                                    <span class="ml-2 text-danger">InActive</span>
                                }
                            </td>
                            <td>
                                <a onclick="activemodal('@user.Id')">
                                    <i class="fas fa-power-off text-c-purple f-15"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
             </div>
         </div>
     </div>
</div>