@{
    ViewData["Title"] = "Register Employee";
}

<div class="container px-1" style="position:initial;">
    <div class="card" style="position:initial;">
        <div class="card-header border-bottom-0" style="position:initial;">
            <div class="card-title mb-5">
                <h5 class="text-muted"> Insert Employee Information</h5>
            </div>

            <ul class="nav nav-tabs mx-auto" id="custom-tabs-four-tab">
                <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Basic</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-four-second-tab" data-toggle="pill" href="#custom-tabs-four-second" role="tab" aria-controls="custom-tabs-four-second" aria-selected="true">Basic continues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Address</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-four-Employmentdetail-tab" data-toggle="pill" href="#custom-tabs-four-Employmentdetail" role="tab" aria-controls="custom-tabs-four-Employmentdetail" aria-selected="false">Employment Detail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-four-detail-tab" data-toggle="pill" href="#custom-tabs-four-detail" role="tab" aria-controls="custom-tabs-four-detail" aria-selected="false">Position Detail</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="pb-4">
        <form action="Create" method="post" enctype="multipart/form-data">
            <div class="tab-content p-3" id="custom-tabs-four-tabContent" style="-webkit-box-shadow: none; box-shadow:none;">
                <div class="tab-pane show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                        </div>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                </div>

                <div class="tab-pane" id="custom-tabs-four-second" role="tabpanel" aria-labelledby="custom-tabs-four-second-tab">

                    <div class="row p-0 m-0">
                        <div class="col-md-4 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="AccountNumber" class="control-label">Bank Account Number *</label>
                                <input type="number" name="AccountNumber" class="form-control" placeholder="Account Number..." />
                                <span name="AccountNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Taxpayer_Identification_Number" class="control-label">Taxpayer Identification Number *</label>
                                <input type="number" name="Taxpayer_Identification_Number" class="form-control" placeholder="TIN Number..." />
                                <span name="Taxpayer_Identification_Number" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Pension_Number" class="control-label">Pension Number *</label>
                                <input type="number" name="Pension_Number" class="form-control" placeholder="Pension Number..." />
                                <span name="Pension_Number" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row p-0 m-0">
                        <div class="col-md-4 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="PlaceOfBirth" class="control-label">Place Of Birth *</label>
                                <input type="text" name="PlaceOfBirth" class="form-control" placeholder="PlaceOfBirth..." />
                                <span name="PlaceOfBirth" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Religion" class="control-label">Religion *</label>
                                <input type="text" name="Religion" class="form-control" placeholder="Religion..." />
                                <span name="Religion" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Native_Language" class="control-label">Native Language</label>
                                <input type="text" name="Native_Language" class="form-control" placeholder="Native Language..." />
                                <span name="Native_Language" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row p-0 m-0">

                        <div class="col-sm-12">
                            <div class="form-group p-2">
                                <label name="AboutMe" class="control-label">About Your self</label>
                                <textarea type="text" name="AboutMe" class="form-control" rows="5" placeholder="Please insert description about your self "></textarea>
                                <span name="AboutMe" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row p-0 m-0">

                        <div class="col-md-6 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Marital_Status" class="control-label">Marital Status *</label>
                                <select name="Marital_Status" class="form-control" asp-items="ViewBag.MaritalStatus"></select>
                                <span name="Marital_Status" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Note" class="control-label">Note </label>
                                <input type="text" name="Note" class="form-control" placeholder="Note...." />
                                <span name="Note" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="my-3">

                        <button id="nexttab" class="btn btn-info float-left" onclick="previousButton()" type="button"> <i class="fa fa-arrow-left fa-fw"></i>Previous</button>


                        <button id="nexttab" class="btn btn-info float-right" onclick="nextButton()" type="button">Next <i class="fa fa-arrow-right fa-fw"></i></button>
                    </div>
                </div>

                <div class="tab-pane" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                    <div class="row p-0 m-0">
                        <div class="col-md-3 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Mobile" class="control-label">Phone Number *</label>
                                <input type="text" name="Mobile" class="form-control" placeholder="Enter your phone number" />
                                <span name="Mobile" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="PhoneNumber_2" class="control-label">Second Phone Number </label>
                                <input type="text" name="PhoneNumber_2" class="form-control" placeholder="Enter your Second Phone Number" />
                                <span name="PhoneNumber_2" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="HomeTelephone" class="control-label">Home Phone Number</label>
                                <input type="text" name="HomeTelephone" class="form-control" placeholder="Enter your home Phone number" />
                                <span name="HomeTelephone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Internal_PhoneLine" class="control-label">Internal Phone Line</label>
                                <input type="text" name="Internal_PhoneLine" class="form-control" placeholder="Enter your work Internal PhoneLine " />
                                <span name="Internal_PhoneLine" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row p-0 m-0">
                        <div class="col-md-4 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Fax" class="control-label">Fax</label>
                                <input type="number" name="Fax" class="form-control" placeholder="Enter your fax number" />
                                <span name="Fax" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="POBox" class="control-label">P.O.BOX</label>
                                <input type="number" name="POBox" class="form-control" placeholder="Enter your p.o.box" />
                                <span name="POBox" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="OfficeNumber" class="control-label">Office Number</label>
                                <input type="text" name="OfficeNumber" class="form-control" placeholder="Enter your OfficeNumber" />
                                <span name="OfficeNumber" class="text-danger"></span>
                            </div>
                        </div>


                    </div>
                    <div class="row p-0 m-0">
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group p-2">
                                <label name="CountryId" class="control-label">Country *</label>

                                <select name="CountryId" class="form-control" asp-items="ViewBag.Country_id"></select>
                                <span name="CountryId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Region_BaseId" class="control-label">Region *</label>

                                <select name="Region_BaseId" class="form-control" asp-items="ViewBag.Region_BaseId"></select>
                                <span name="Region_BaseId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Zone_Base" class="control-label">Zone *</label>
                                @*@Html.DropDownListFor(model => Model.Zone_BaseId, (SelectList)ViewBag.Zone_BaseId, new { @class = "form-control" })*@
                                <input name="Zone_Base" class="form-control" placeholder="Enter your Zone" />
                                <span name="Zone_Base" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="City" class="control-label">City *</label>
                                @*@Html.DropDownListFor(model => Model.CityId, (SelectList)ViewBag.CityId, new { @class = "form-control" })*@
                                <input type="text" name="City" class="form-control" placeholder="Enter your City" />
                                <span name="City" class="text-danger"></span>
                            </div>
                        </div>


                    </div>
                    <div class="row p-0 m-0">



                        <div class="col-md-3 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Sub_City" class="control-label">Subcity</label>
                                @*@Html.DropDownListFor(model => Model.Subcity, (SelectList)ViewBag.Subcity_id, new { @class = "form-control" })*@
                                <input type="text" name="Sub_City" class="form-control" placeholder="Enter your Sub city" />
                                <span name="Sub_City" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Woreda" class="control-label">Woreda</label>
                                @*@Html.DropDownListFor(model => Model.WoredaId, (SelectList)ViewBag.WoredaId, new { @class = "form-control" })*@
                                <input type="text" name="Woreda" class="form-control" placeholder="Enter your Woreda" />
                                <span name="Woreda" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Kebele" class="control-label">Kebele</label>
                                <input type="text" name="Kebele" class="form-control" placeholder="Enter your Kebele" />
                                <span name="Kebele" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="PlaceOfWork" class="control-label">Place Of Work</label>
                                <input type="text" name="PlaceOfWork" class="form-control" placeholder="Enter your Place Of Work" />
                                <span name="PlaceOfWork" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Primary_Address" class="control-label">Primary Address</label>
                                <input type="text" name="Primary_Address" class="form-control" placeholder="Enter your Primary Address" />
                                <span name="Primary_Address" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="my-3">

                        <button id="nexttab" class="btn btn-info float-left" onclick="previousButton()" type="button"> <i class="fa fa-arrow-left fa-fw"></i>Previous</button>

                        <button id="nexttab" class="btn btn-info float-right" onclick="nextButton()" type="button">Next <i class="fa fa-arrow-right fa-fw"></i></button>
                    </div>

                </div>

                <div class="tab-pane" id="custom-tabs-four-Employmentdetail" role="tabpanel" aria-labelledby="custom-tabs-four-Employmentdetail-tab">
                    <div class="row m-0 p-0">

                        <div class="col-md-6 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Employment_typeId" class="control-label">Select Employment Type</label>

                                <select name="Employment_typeId" class="form-control" asp-items="ViewBag.Employment_id"></select>
                                <span name="Employment_typeId" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="StartDate" class="control-label">Start Date</label>
                                <input type="date" name="StartDate" class="form-control" placeholder="start date..." />
                                <span name="StartDate" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row m-0 p-0">

                        <div class="col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="CurrentSituation" class="control-label">Current Situation</label>
                                <input type="text" name="CurrentSituation" class="form-control" placeholder="CurrentSituation..." />
                                <span name="CurrentSituation" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row m-0 p-0">

                        <div class="col-md-6 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Employment_Letter_No" class="control-label">Employment Letter Number</label>
                                <input type="text" name="Employment_Letter_No" class="form-control" placeholder="Employment_Letter_No..." />
                                <span name="Employment_Letter_No" class="text-danger"></span>
                            </div>
                        </div>


                    </div>
                    <div class="my-3">

                        <button id="nexttab" class="btn btn-info float-left" onclick="previousButton()" type="button"> <i class="fa fa-arrow-left fa-fw"></i>Previous</button>

                        <button id="nexttab" class="btn btn-info float-right" onclick="nextButton()" type="button">Next <i class="fa fa-arrow-right fa-fw"></i></button>
                    </div>
                </div>
    
                <div class="tab-pane" id="custom-tabs-four-detail" role="tabpanel" aria-labelledby="custom-tabs-four-detail-tab">
                    <div class="row m-0 p-0">
                        <div class="col-md-6 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="DivisionId" class="control-label">Select Division</label>

                                <select name="DivisionId" class="form-control" asp-items="ViewBag.Division_id"></select>
                                <span name="DivisionId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="DepartmentId" class="control-label">Select Department</label>
                                <select name="DepartmentId" class="form-control" asp-items="ViewBag.department_Id"></select>
                                <span name="DepartmentId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="TeamId" class="control-label">Select Team</label>
                                <select name="TeamId" class="form-control" asp-items="ViewBag.Team_Id"></select>
                                <span name="TeamId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="PositionId" class="control-label">Select Position</label>
                                <select name="PositionId" class="form-control" asp-items="ViewBag.position_Id"></select>
                                <span name="PositionId" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-md-6 col-sm-12 ">
                            <div class="form-group p-2">
                                <label name="Entry_Status" class="control-label">Entry Status</label>
                                <input type="text" name="Entry_Status" class="form-control" placeholder="Entry Status..." />
                                <span name="Entry_Status" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">


                        <label name="ProfilePicture" style="width: 100%;"></label>
                        @if (Model != null)
                        {
                            @if (Model.ProfilePicture == null)
                            {
                                <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="~/images/male_img_avatar.png" alt="Avatar" class="avatar">
                            }
                            else
                            {
                                <img id="profilePicture" style="width:200px;height:240px; border-radius:50%; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))">
                            }
                        }
                        else
                        {
                            <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="~/images/male_img_avatar.png" alt="Avatar" class="avatar">
                        }
                        <input type="file"
                               accept=".png,.jpg,.jpeg,.gif,.tif"
                               name="ProfilePicture"
                               class="form-control"
                               style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                               onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                        <span name="ProfilePicture" class="text-danger"></span>

                        <div class="card-footer bg-white p-2">
                            <div class="row p-0 m-0">
                                <div class="col align-self-start pl-3">
                                </div>
                                <div class="col-2  align-self-end  p-0">
                                    <div class="form-group mb-0">

                                        <input type="submit" value="Create" class="btn btn-glow-dark btn-primary ml-4" />
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="card-footer bg-white p-2">
                            <div class="row p-0 m-0">
                                <div class="col align-self-start pl-3">
                                </div>
                                <div class="col-2  align-self-end  p-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /.card -->
</div>