@model HRMS.Education_management.Education

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Education</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="institution_name" class="control-label"></label>
                <input asp-for="institution_name" class="form-control" />
                <span asp-validation-for="institution_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="institution_email" class="control-label"></label>
                <input asp-for="institution_email" class="form-control" />
                <span asp-validation-for="institution_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="institution_website" class="control-label"></label>
                <input asp-for="institution_website" class="form-control" />
                <span asp-validation-for="institution_website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="filed_of_study" class="control-label"></label>
                <input asp-for="filed_of_study" class="form-control" />
                <span asp-validation-for="filed_of_study" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="start_date" class="control-label"></label>
                <input asp-for="start_date" class="form-control" />
                <span asp-validation-for="start_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="end_date" class="control-label"></label>
                <input asp-for="end_date" class="form-control" />
                <span asp-validation-for="end_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identificationnumber" class="control-label"></label>
                <input asp-for="Identificationnumber" class="form-control" />
                <span asp-validation-for="Identificationnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="feedback" class="control-label"></label>
                <input asp-for="feedback" class="form-control" />
                <span asp-validation-for="feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_date" class="control-label"></label>
                <input asp-for="created_date" class="form-control" />
                <span asp-validation-for="created_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updated_date" class="control-label"></label>
                <input asp-for="updated_date" class="form-control" />
                <span asp-validation-for="updated_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="employee_id" class="control-label"></label>
                <select asp-for="employee_id" class ="form-control" asp-items="ViewBag.employee_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="educational_program_id" class="control-label"></label>
                <select asp-for="educational_program_id" class ="form-control" asp-items="ViewBag.educational_program_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="educational_level_type_id" class="control-label"></label>
                <select asp-for="educational_level_type_id" class ="form-control" asp-items="ViewBag.educational_level_type_id"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

