@model ERP.Models.HRMS.Employee_managments.Emergency_contact

@{
    ViewData["Title"] = "Details";
}

<div class="container px-1" style="position:initial;">
    <div class="card">
        <div class="card-header">
            <h5>Emergency contact Detail</h5>
            <span class="d-block m-t-5">Full Emergency contact Information.</span>
        </div>
        <div class="card-block table-border-style">
            <dl class="row">
                <dt class = "col-sm-2">
                    Full name
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.full_name)
                </dd>
                <dt class = "col-sm-2">
                    Phone number
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.phonenumber)
                </dd>
                <dt class = "col-sm-2">
                    Alternative Phone number
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.alternative_phonenumber)
                </dd>
                <dt class = "col-sm-2">
                    Relationship
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Relationship)
                </dd>
            </dl>
        </div>
     </div>
  </div>
