@page
@model ERP.Areas.Identity.Pages.Account.DeactivatedAccountModel

<h1>Account Deactivated</h1>

<p>Your account has been deactivated. Please contact the ICT Deprtment  for further assistance.</p>