@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<h5 class="mb-5">@ViewData["Title"]</h5>
<form id="account" method="post" class="form-signin">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="input-group mb-2 d-flex flex-column">
        <input asp-for="Input.Email" class="form-control w-100" placeholder="example@gmail.com" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="input-group mb-2 d-flex flex-column">
        <input asp-for="Input.Password" id="password" class="form-control w-100" placeholder="password123" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="input-group mb-2">
        <div class="checkbox checkbox-fill d-inline">
            <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" onclick="showPassword()">
            <label for="checkbox-fill-a1" class="cr">Show Password</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary shadow-2 mb-2 btn-block">Login</button>
    <p class="mb-2 text-muted">Forgot password? <a asp-page="./ForgotPassword">Forgot Password</a></p>
    <p class="mb-0 text-muted">Don’t have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Signup</a></p>
</form>

@section Scripts {
    <script src="~/assets/js/customjs.js"></script>
}
