@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h5 class="mb-5">@ViewData["Title"]</h5>
<form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-signin">
    <div class="input-group mb-2 d-flex flex-column">
        <input asp-for="Input.Email" class="form-control w-100" placeholder="example@gmail.com" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="input-group mb-2">
        <input asp-for="Input.Password" class="form-control w-100" type="password" placeholder="password123" id="password" /><br />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="input-group mb-2 d-flex flex-column">
        <input asp-for="Input.ConfirmPassword" class="form-control w-100" type="password" placeholder="password123" id="passwordconf" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="input-group mb-2">
        <div class="checkbox checkbox-fill d-inline">
            <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1"  onclick="showPassword()">
            <label for="checkbox-fill-a1" class="cr">Show Password</label>
        </div>
    </div>

    <div class="input-group mb-2">
        <button type="submit" class="btn btn-primary shadow-2 mb-2 btn-block">Sign Up</button>
    </div>
    <p class="mb-0 text-muted">Already have an account? <a asp-page="Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a></p>
</form>
@section Scripts {
    <script src="~/assets/js/customjs.js"></script>
}
