@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
    <p>
        ERP does not currently send email, This will be normally send via email.
    </p>
     <p>
        <a class="text-primary" id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
    </p>
    }
    else
    {
    <p>
            Please check your email to confirm your account.
    </p>
    }
}

