@*Delete Form Model*@
<div id="exampleModalCenter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content mx-auto py-3">
            <div class="text-center pt-5">
                <i class="feather icon-trash-2 font-weight-bold" style="color:crimson; font-size:40px;"></i>
                <h5 class="font-weight-bold pt-3" id="exampleModalCenterTitle">
                    Delete Record
                </h5>
            </div>
            <div class="pt-3 text-center">
                <h5> Are you sure you want to delete?</h5>
                <div class="py-4">
                    <button type="button" class="btn btn-sm btn- d-inline" data-bs-dismiss="modal"><i class="feather icon-info"></i>No</button>
                    <form asp-action="Delete" class="d-inline">
                        <input type="hidden" data-val="true" data-val-required="The Record Id is required." id="RecordIdDelete" name="id" value="">
                        <button type="submit" class="btn btn-sm btn-danger"><i class="feather icon-slash"></i>Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@*Delete Form Model*@