<!DOCTYPE html>
<html lang="en">

<head>
    <title> ERP - @ViewData["Title"] </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <!-- CSS Includes -->
    <!-- Favicon icon -->
    <link rel="icon" href="~/img/mols.png" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="~/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css">
    <!-- custom css -->
    <link rel="stylesheet" href="~/assets/css/customstyle.css">
    @RenderSection("links", required: false)
    @RenderSection("Scripts", false)
</head>
<body>

    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>

    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <partial name="_Sidebar" />



    <!-- [ navigation menu ] end -->
    <partial name="_Navbar" />
    <!-- [ alert ] end -->
    <partial name="_Alert" />
    <!-- [ modal delete ] end -->
    <partial name="_Modal" />


    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper p-0" style="position:initial;">
            <div class="pcoded-content p-0">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper m-0">
                            @RenderBody()
                        </div>
                       @*  <partial name="_DeleteModal" /> *@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/js/vendor-all.min.js"></script>
    <!-- bootstrap css -->
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <!-- pcoded css -->
    <script src="~/assets/js/pcoded.min.js"></script>
    <!-- pcoded css -->
    <script src="~/assets/js/customjs.js"></script>

</body>
</html>