
<aside class="pcoded-navbar icon-colored">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <div class="b-brand">
                <div class="bg-white rounded">
                    <img src="~/img/mols.png" width="40" height="40" alt="MoLs" />
                </div>
                <span class="b-title">ERP</span>
            </div>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>

        <div class="navbar-content scroll-div mb-5">

            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Employee Navigation</label>
                </li>

                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu ">
                    <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="fa fa-user-circle" aria-hidden="true"></i></span><span class="pcoded-mtext">Employee Profile</span></a>
                    <ul class="pcoded-submenu">
                        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                            <a class="nav-link" asp-action="Create" asp-controller="Employees"><span class="pcoded-micon"></span><span class="pcoded-mtext">General Information</span></a>
                        </li>
                        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Educations"><span class="pcoded-micon"></span><span class="pcoded-mtext">Education</span></a>
                        </li>
                        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Family_History"><span class="pcoded-micon"></span><span class="pcoded-mtext">Family History</span></a>
                        </li>
                        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Languages"><span class="pcoded-micon"></span><span class="pcoded-mtext">Language</span></a>
                        </li>
                        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Emergency_contact"><span class="pcoded-micon"></span><span class="pcoded-mtext">Emergency contact</span></a>
                        </li>
                     </ul>
                 </li>
            </ul>

            @if (Context.User.IsInRole("SuperAdmin"))
            {
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>SuperAdmin Area</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu ">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="fa fa-user-circle" aria-hidden="true"></i></span><span class="pcoded-mtext">Manage User Roles</span></a>
                        <ul class="pcoded-submenu">
                            <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="UserRole"><span class="pcoded-micon"></span><span class="pcoded-mtext">Assign Role</span></a>
                            </li>
                            <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Role"><span class="pcoded-micon"></span><span class="pcoded-mtext">Role</span></a>
                            </li>
                        </ul>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu ">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="fa fa-user-circle" aria-hidden="true"></i></span><span class="pcoded-mtext">Manage Users</span></a>
                        <ul class="pcoded-submenu">
                            <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                                <a class="nav-link" asp-action="InActiveUsers" asp-controller="Users"><span class="pcoded-micon"></span><span class="pcoded-mtext">Inactive Users</span></a>
                            </li>
                            <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                                <a class="nav-link" asp-action="ActiveUsers" asp-controller="Users"><span class="pcoded-micon"></span><span class="pcoded-mtext">Active Users</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            }
            @if (Context.User.IsInRole("HR"))
            {
                 <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Manage Employees</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu ">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-users" aria-hidden="true"></i></span><span class="pcoded-mtext">Manage Employee</span></a>
                        <ul class="pcoded-submenu">
                            <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Employees"><span class="pcoded-micon"></span><span class="pcoded-mtext">Employees</span></a>
                            </li>
                            <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                                <a class="nav-link" asp-action="Create" asp-controller="Employees"><span class="pcoded-micon"></span><span class="pcoded-mtext">General Information</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Base Information</label>
                    </li>

                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu ">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layers" aria-hidden="true"></i></span><span class="pcoded-mtext">Organization Structure</span></a>
                        <ul class="pcoded-submenu">
                            <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Organizations"><span class="pcoded-micon"></span><span class="pcoded-mtext">Organization</span></a>
                            </li>
                            <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Divisions"><span class="pcoded-micon"></span><span class="pcoded-mtext">Division</span></a>
                            </li>
                            <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Departments"><span class="pcoded-micon"></span><span class="pcoded-mtext">Department</span></a>
                            </li>
                            <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Teams"><span class="pcoded-micon"></span><span class="pcoded-mtext">Team</span></a>
                            </li>
                        </ul>
                    </li>

                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu ">
                        <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-briefcase" aria-hidden="true"></i></span><span class="pcoded-mtext">Position & Employment</span></a>
                        <ul class="pcoded-submenu">
                            <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Positions"><span class="pcoded-micon"></span><span class="pcoded-mtext">Position</span></a>
                            </li>
                            <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Employement_Type"><span class="pcoded-micon"></span><span class="pcoded-mtext">Employment Type</span></a>
                            </li>
                        </ul>
                    </li>

                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu ">
                    <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-briefcase" aria-hidden="true"></i></span><span class="pcoded-mtext">Base Types</span></a>
                    <ul class="pcoded-submenu">
                        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Education_Level_Type"><span class="pcoded-micon"></span><span class="pcoded-mtext">Level of Education </span></a>
                        </li>
                        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Family_RelationShip_Type"><span class="pcoded-micon"></span><span class="pcoded-mtext">Family Relationship</span></a>
                        </li>
                        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Education_Program_Type"><span class="pcoded-micon"></span><span class="pcoded-mtext">Education Program</span></a>
                        </li>
                        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Marital_Status_Types"><span class="pcoded-micon"></span><span class="pcoded-mtext">Marital Status</span></a>
                        </li>
                        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Reward_Types"><span class="pcoded-micon"></span><span class="pcoded-mtext">Rewards</span></a>
                        </li>
                    </ul>
                </li>
                
                </ul>
            } 
        </div>
    </div>
</aside>

