@model HRMS.Office.Division

@{
    ViewData["Title"] = "Division Details";
}


<div class="container px-1" style="position:initial;">
    <div class="card">
        <div class="card-header">
            <h5>Division Detail</h5>
            <span class="d-block m-t-5">Full Division Information.</span>
        </div>
        <div class="card-block table-border-style">
            <dl class="row">
                <dt class="col-sm-2">
                    Name
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.name)
                </dd>
                <dt class="col-sm-2">
                    Description
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.description)
                </dd>
                <dt class="col-sm-2">
                    Created at
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.created_date)
                </dd>
                <dt class="col-sm-2">
                    Last Updated
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.updated_date)
                </dd>
            </dl>
        </div>
    </div>
</div>
