@model HRMS.Types.Employement_Type

@{
    ViewData["Title"] = "Employement Type Edit";
}

<div class="container px-1" style="position:initial;">
    <div class="card">
        <div class="card-header">
            <h5>Update Employement Type</h5>
            <span class="d-block m-t-5">Update Employement Type.</span>
        </div>
        <div class="card-block table-border-style">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="name" class="control-label">Name <span class="text-danger">*</span></label>
                    <input asp-for="name" class="form-control" placeholder="Mols" />
                    <small><span asp-validation-for="name" class="text-danger"></span></small>
                </div>
                <div class="form-group">
                    <label asp-for="description" class="control-label">Description</label>
                    <textarea asp-for="description" class="form-control" placeholder="Minstry of labor and skills."></textarea>
                    <small><span asp-validation-for="description" class="text-danger"></span></small>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
