@model HRMS.Types.Marital_Status_Types

@{
    ViewData["Title"] = "Marital Status Create";
}

<div class="container px-1" style="position:initial;">
    <div class="card">
        <div class="card-header">
            <h5>Create New Marital Status</h5>
            <span class="d-block m-t-5">Create a new Marital Status.</span>
        </div>
        <div class="card-block table-border-style">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="name" class="control-label">Name</label>
                    <input asp-for="name" class="form-control" placeholder="Single" />
                    <small><span asp-validation-for="name" class="text-danger"></span></small>
                </div>
                <div class="form-group">
                    <label asp-for="description" class="control-label">Description</label>
                    <textarea asp-for="description" class="form-control" placeholder="Do not have a partner."></textarea>
                    <small><span asp-validation-for="description" class="text-danger"></span></small>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>