@model ERP.Models.HRMS.Training.Training

@{
    ViewData["Title"] = "Edit";
}

<div class="container px-1" style="position:initial;">
    <div class="card">
        <div class="card-header">
            <h5>Training</h5>
            <span class="d-block m-t-5">Update Training.</span>
        </div>
        <div class="card-block table-border-style">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id" />
                <div class="row p-0 m-0">
                    <div class="col-md-6 col-sm-12 ">
                        <div class="form-group">
                            <label asp-for="training_institution" class="control-label"></label>
                            <input asp-for="training_institution" class="form-control" />
                            <span asp-validation-for="training_institution" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 ">
                        <div class="form-group">
                            <label asp-for="country_of_training" class="control-label"></label>
                            <input asp-for="country_of_training" class="form-control" />
                            <span asp-validation-for="country_of_training" class="text-danger"></span>
                        </div>
                    </div>
                 </div>
                 <div class="row p-0 m-0">
                    <div class="col-md-6 col-sm-12 ">
                        <div class="form-group">
                            <label asp-for="email" class="control-label"></label>
                            <input asp-for="email" class="form-control" />
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                    </div>
                    @* <div class="col-md-6 col-sm-12 ">
                        <div class="form-group">
                            <label asp-for="training_type" class="control-label"></label>
                            <input asp-for="training_type" class="form-control" />
                            <span asp-validation-for="training_type" class="text-danger"></span>
                        </div>
                    </div> *@
                 </div>
                 <div class="row p-0 m-0">
                    <div class="col-md-4 col-sm-12 ">
                        <div class="form-group">
                            <label asp-for="training_situation" class="control-label"></label>
                            <input asp-for="training_situation" class="form-control" />
                            <span asp-validation-for="training_situation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 ">
                        <div class="form-group">
                            <label asp-for="start_date" class="control-label"></label>
                            <input asp-for="start_date" class="form-control" />
                            <span asp-validation-for="start_date" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 ">
                        <div class="form-group">
                            <label asp-for="end_date" class="control-label"></label>
                            <input asp-for="end_date" class="form-control" />
                            <span asp-validation-for="end_date" class="text-danger"></span>
                        </div>
                    </div>
                 </div>
                <div class="form-group">
                    <label asp-for="description" class="control-label"></label>
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
