.input-group span{
    text-align: left;
    width: 100%;
    font-size: 80%;
    font-weight:400;
}


#profilePictureHolder {
    width:100px;
    height:100px;
    object-fit:cover;
    border-radius:100%;
    cursor:pointer;
}

.certificated-badge{
    position: absolute;
    top: 136px;
    right: 214px;
}

#TableMenu a{
    cursor:pointer;
}

#TableMenuMenu {
    cursor: pointer;
}

a {
    cursor: pointer;
}

::placeholder {
    color: #dcdcdc !important;
}

.nav-tabs .nav-link.active {
    background-color: #f0eeee !important;
}


@media (min-width: 768px) {
    .profile-card-div {
        margin-left: 3px;
        margin-right: 3px;
    }
}

@media (min-width: 992px) {
    .profile-card-div {
        margin-left: 3px;
        margin-right: 3px;
    }
}

@media (min-width: 1200px) {
    .profile-card-div {
        margin-left: 3px;
        margin-right: 3px;
    }
}

p {
    padding: 0;
    margin: 0;
}

.id {
    display: inline-block;
    font-weight: 600;
    color: #000000;
    font-size: 12px;
    margin: 0;
}
.gradient-blue {
    background: linear-gradient(to right, #007bff, #0099cc);
}

.back {
    background-color: #e8efff;
    list-style: none;
    display: flex;
    font-size: 12px;
    font-weight: lighter;
}

.blue {
    color: #3170b5;
}

.thumbnail {
    z-index: 10;
    width: 120px;
    height: 120px;
    margin-top: 10%;
}

.head {
    background-color: #e8efff;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
   
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: space-between;
}

.idcard {
    border-radius: 19px;
    margin: 30px 20px 40px 20px;
    height: 310px;
    width: 490px;
    box-shadow: 3px 2px 7px 5px rgba(70, 70, 70, 0.1);
    border: none;
}

.side-ban {
    background-color: #235ba41c;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: flex;
    justify-content: flex-start;
    padding: 3px 0px 3px 18px;
    margin: 0 0 9px 10px;
    position: relative;
    left: 0;
    font-size: 6px;
    letter-spacing: 0.5px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    background-image: url('~/img/mask-front.png');
    background-size: cover;
    background-position: bottom;
    height: 320px;
    border-bottom-right-radius: 19px;
    border-bottom-left-radius: 19px;
}

.profile-picture {
    margin: 0 13px 0 13px;
}

.back-head {
    background-size: cover;
    background-image: url('~/img/mask-back.png');
    background-position: top;
    border-top-right-radius: 19px;
    border-top-left-radius: 19px;
}

.stamp {
    position: absolute;
    right: 25px;
    top: 15px;
    z-index: 10;
}
