.input-group span{
    text-align: left;
    width: 100%;
    font-size: 80%;
    font-weight:400;
}


#profilePictureHolder {
    width:100px;
    height:100px;
    object-fit:cover;
    border-radius:100%;
    cursor:pointer;
}

.certificated-badge{
    position: absolute;
    top: 12px;
    right: -5px;
}

#TableMenu a{
    cursor:pointer;
}

#TableMenuMenu {
    cursor: pointer;
}