@model ERP.Models.HRMS.Language.Language

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Language</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ability_to_listen" class="control-label"></label>
                <input asp-for="ability_to_listen" class="form-control" />
                <span asp-validation-for="ability_to_listen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ability_to_Speak" class="control-label"></label>
                <input asp-for="ability_to_Speak" class="form-control" />
                <span asp-validation-for="ability_to_Speak" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ability_to_Read" class="control-label"></label>
                <input asp-for="ability_to_Read" class="form-control" />
                <span asp-validation-for="ability_to_Read" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ability_to_write" class="control-label"></label>
                <input asp-for="ability_to_write" class="form-control" />
                <span asp-validation-for="ability_to_write" class="text-danger"></span>
            </div>
    
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
