@model ERP.Models.HRMS.Employee_managments.Language
@{
    ViewData["Title"] = "Language Details";
}

<div class="container px-1" style="position:initial;">
    <div class="card">
        <div class="card-header">
            <h5>Language Detail</h5>
            <span class="d-block m-t-5">Full Language Information.</span>
        </div>
        <div class="card-block table-border-style">
            <dl class="row">
                <dt class = "col-sm-2">
                    Language
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.name)
                </dd>
                <dt class = "col-sm-2">
                    Listening
                </dt>
                <dd class = "col-sm-10">
                    @if (Model.ability_to_listen >= 0 && Model.ability_to_listen <= 25)
                    {
                        <span>Beginner</span>
                    }
                    else if (Model.ability_to_listen >= 26 && Model.ability_to_listen <= 50)
                    {
                        <span>Intermidiate</span>

                    }
                    else if (Model.ability_to_listen >= 51 && Model.ability_to_listen <= 75)
                    {
                        <span>Advanced</span>
                    }
                    else
                    {
                        <span>Native</span>
                    }
                </dd>
                <dt class = "col-sm-2">
                    Speaking
                </dt>
                <dd class = "col-sm-10">
                    @if (Model.ability_to_Speak >= 0 && Model.ability_to_Speak <= 25)
                    {
                        <span>Beginner</span>
                    }
                    else if (Model.ability_to_Speak >= 26 && Model.ability_to_Speak <= 50)
                    {
                        <span>Intermidiate</span>

                    }
                    else if (Model.ability_to_Speak >= 51 && Model.ability_to_Speak <= 75)
                    {
                        <span>Advanced</span>
                    }
                    else
                    {
                        <span>Native</span>
                    }
                </dd>
                <dt class = "col-sm-2">
                    Reading
                </dt>
                <dd class = "col-sm-10">
                    @if (Model.ability_to_Read >= 0 && Model.ability_to_Read <= 25)
                    {
                        <span>Beginner</span>
                    }
                    else if (Model.ability_to_Read >= 26 && Model.ability_to_Read <= 50)
                    {
                        <span>Intermidiate</span>

                    }
                    else if (Model.ability_to_Read >= 51 && Model.ability_to_Read <= 75)
                    {
                        <span>Advanced</span>
                    }
                    else
                    {
                        <span>Native</span>
                    }
                </dd>
                <dt class = "col-sm-2">
                    Writing
                </dt>
                <dd class = "col-sm-10">
                    @if (Model.ability_to_write >= 0 && Model.ability_to_write <= 25)
                    {
                        <span>Beginner</span>
                    }
                    else if (Model.ability_to_write >= 26 && Model.ability_to_write <= 50)
                    {
                        <span>Intermidiate</span>

                    }
                    else if (Model.ability_to_write >= 51 && Model.ability_to_write <= 75)
                    {
                        <span>Advanced</span>
                    }
                    else
                    {
                        <span>Native</span>
                    }
                </dd>
            </dl>
        </div>
    </div>
</div>
